<mat-toolbar color="primary">
  <div class="nav" fxLayout="row" fxLayoutAlign="space-between center" fxFlex="100">
    <!-- {{userInfo$ | async | json}} -->
    <div fxFlex="12" fxFlex.xs="10" fxFlex.sm="5">
      <button color="accent" mat-mini-fab>
        <mat-icon>home</mat-icon>
      </button>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <section>
        <button mat-mini-fab>
          <mat-icon>exit_to_app</mat-icon>
        </button>
      </section>
    </div>
  </div>
</mat-toolbar>
